doctype html 5
html
    head
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
body(ng-app='conectan2')
    include header
    block main-content
    include scripts